body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */

.postButtons{
  height:60vh;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: center;

}
.postButtons button{
    margin:5px;
    background-color: #cfd53b;
    color:black;
    width: 100px;
    height:35px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width:100%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.man{
  color:red;
}
.man:hover{
  cursor:pointer;
  color:green;
  text-decoration: none;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.signupbtn{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  float:left;
  opacity: 0.9;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
